<div class="container pt-5">
    <div class="row">
        <div class="col-12">
            <h1>{{ __( product.id > -1 ? 'edit-product' : 'add-product' ) }}</h1>

            <form method="POST">
                <input type="hidden" name="id" value="{{ product.id }}" />
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">{{ __("name") }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name"  value="{{ product.name }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">{{ __("price") }}</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control"  placeholder="{{ __("price") }}" name="price" step="0.01" min="0" value="{{ product.price }}"  >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">{{ __("type") }}</label>
                    <div class="col-sm-10">
                        <select name="type" class="form-control w-50">
                            {% for type in types %}
                                {% set selected = '' %}
                                {% if (type[0]) == product.type %}
                                    {% set selected = 'selected' %}
                                {% endif %}
                                <option value="{{ type.id }}" {{ selected }}>{{ __(type.name) }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">{{ __("position") }}</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <label for="xPos" class="col-sm-2 col-form-label">{{ __("x-position") }}</label>
                            <select name="xPos" class="form-control col-4">
                                <option>--</option>
                                {% for x in range(1, maxPosition.x) %}
                                    {% set selected = '' %}
                                    {% if xPos.meta_value == x %}
                                        {% set selected = 'selected' %}
                                    {% endif %}
                                    <option value="{{x}}" {{ selected }}>{{ x }}</option>
                                {% endfor %}
                            </select>

                            <label for="yPos" class="col-sm-2 col-form-label">{{ __("y-position") }}</label>
                            <select name="yPos" class="form-control col-4">
                                <option>--</option>
                                {% for y in range(1, maxPosition.y) %}
                                    {% set selected = '' %}
                                    {% if yPos.meta_value == y %}
                                        {% set selected = 'selected' %}
                                    {% endif %}
                                    <option value="{{y}}" {{ selected }}>{{ y }}</option>
                                {% endfor %}
                            </select>
                        </div>


                    </div>
                </div>


                <button type="submit" class="btn btn-primary my-1">{{ __( product.id > -1 ? 'edit-product' : 'add-product' ) }}</button>
            </form>
        </div>
    </div>
</div>

