<div class="container pt-5">
    <div class="row">


        <div class="col-12">
            <h1>{{ __("dashboard-title") }}</h1>
            <p>{{ __("welcome-text") }}</p>
            <a href="/product">{{ __("product-manager") }}</a> <br>
            <a href="/stock">{{ __("stocks") }}</a> <br>
            <a href="/pos">{{ __("pos") }}</a> <br>
            <a href="/tables">{{ __("tables") }}</a> <br>
            <a href="/settings">{{ __("settings") }}</a> <br>
            <a href="/dashboard/logout">{{ __("logout") }}</a>
        </div>
    </div>
</div>
